player-connection-mode=Listen
player-connection-guid=888885133
player-connection-debug=0
player-connection-project-name=MULTY_FRIEND
player-connection-ip=26.171.93.54
player-connection-ip=192.168.3.43
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=224a57a2366541d683d1ca5cd6840e5b
